/* $mainFontFamily: font-family: 'Poppins', sans-serif;
$croutonWhite: #ffffff;
$croutonGrey: #645f5f;
$croutonOrange: #ffaa81;
$croutonOff: #e5e9e1; */

.nav-bar {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #ffaa81;
}


h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  line-height:68px;
  font-weight: 600;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: Transparent;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

form{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.fine-print{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding-top: 100px;
}

h2:nth-child(1), h1:nth-child(1){
  color: #ffffff;
}

.footer h1:nth-child(2), .footer button{
  color: #ffaa81;
}

a{
  color: black;
}

span{
  color: #ffffff;
}


.col-left {
  padding-right: 188px;
}

.col-right{
  padding-left: 50px;
}
.header{
  width: 100%;
  background-color: #ffaa81;
  padding-top: 200px;
  padding-bottom: 50px;
}

.about {
  background-color:  #e5e9e1;;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color:  #645f5f;
}


li {
  display: inline;
  padding: 20px;
  margin-left: -5px;
}


ul {
  display: inline;
  list-style: none;
  /* float: left; */
}


a {
  text-decoration: none;
}
img{
  width: 15%;
  height: 15%;
}

.footer img{
  width: 8%;
  height: 8%;
  margin-right: 25px;
}

input{
  display: inline;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e5e9e1;
  margin-bottom: 20px;
}

#msg{
  width: 530px;
}

form .input-inline {
  display: inline;
  margin-right: 10px;
  width: 252px;
}

::placeholder {
  color: #ffffff;
}
