/* $mainFontFamily: font-family: 'Poppins', sans-serif;
$croutonWhite: #ffffff;
$croutonGrey: #645f5f;
$croutonOrange: #ffaa81;
$croutonOff: #e5e9e1; */

.nav-items {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  line-height:68px;
  font-weight: 600;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

form{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.fine-print{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.header{
  width: 100%;
  background: #ffaa81;
}
.wrap {
  padding: 0px 200px 0px 200px;
}
.about {
  background-color:  #e5e9e1;;
}

.footer{
  background-color:  #645f5f;
}


input,textarea{
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}
