body {
color: #645f5f;
}

a:link, .grey-color {
  color: #645f5f;
}

.nav-bar {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #ffaa81;
}


h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  line-height:68px;
  font-weight: 600;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: Transparent;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

form{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 55px;
}
.fine-print{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding-top: 100px;
}

h2:nth-child(1), h1:nth-child(1){
  color: #ffffff;
}

.footer h1:nth-child(2), .footer button{
  color: #ffaa81;
}

a{
  color: black;
}

span{
  color: #ffffff;
}


.col-left {
  padding-right: 188px;
}

.col-right{
  padding-left: 50px;
}
.header{
  /* position: absolute; */
  width: 100%;

  background-color: #ffaa81;
  padding-top: 294px;
  padding-bottom: 50px;
}

.header-detail{
  position: relative;
  z-index: 1;
  padding-right: 82px;
  margin-bottom: 30px;
}
#image{
  position: absolute;
  top: -58px;
  z-index: 2;
  width: 100%;
  height: 42em;
}

#about p{
  padding-top: 100px;
}

#about {
  background-color:  #e5e9e1;;
  padding-top: 217px;
  padding-bottom: 127px;
}

.footer{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:  #645f5f;
}


li {
  display: inline;
  padding: 20px;
  margin-left: -5px;
}


ul {
  display: inline;
  list-style: none;
  /* float: left; */
}


a {
  text-decoration: none;
}


.nav-bar img{
  width: 15%;
  height: 15%;
}

.footer img{
  width: 8%;
  height: 8%;
  margin-right: 25px;
}

input{
  display: inline;
  outline: none;
  border: none;
  color: #ffffff;
  background: transparent;
  border-bottom: 1px solid #e5e9e1;
  margin-bottom: 40px;
}

#msg{
  width: 100%;
}

form input {
  width: 100%;
}

#btn-submit-form {
  margin-left: 8px;
}


::placeholder {
  color: #ffffff;
}
